.App {
  text-align: center;
  font-family: 'Work Sans';
  background-image: url('../assets/brickwall.png');
}

div .master .container-fluid {
  padding: 0px;
  height: 100vh;
  background-image: url('../assets/brickwall.png');
  margin-left: 25px;
}

.profile-pic {
  padding: 5px;
  margin-left: 12px;
  height: 150px;
  width: 155px;
  border-radius: 100px;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding: 0px;
  flex-direction: row;
  background-image: url('../assets/brickwall.png');
}

.search-item {
  margin: 10px;
  max-width: 30%;
  max-height: 30%;
  flex: 1 1 30%;
}

.search-item .card-img {
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  max-width: 100%;
  min-height: 1522px;
  zoom: .2
}


.play-list {
  border-radius: 60px;
  border: black;
  border-bottom-style: groove;
  width: 600px;
  height: 355px;
  margin: 20px
}

.sign-up {
  padding: 5px;
  background-image: url('../assets/brickwall.png');
}

.sign-up-form {
  margin: 50px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, .7);
  padding: 60px;
  border-radius: 20px;
  font-family: 'Work Sans';
}

.sign-up-form h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  margin-bottom: 50px
}

.home-page-title {
  font-family: 'Bungee Shade', cursive;
  font-size: 30px;
  text-align: center;
  color: #D2FDFF;
  text-shadow: 1px 1px 1px purple;
}
