.App {
  text-align: center;
  font-family: 'Work Sans';
  background-image: url('../assets/brickwall.png');
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.master {
  padding: 0px;
}

.profile-pic {
  padding: 5px;
  margin-left: 12px;
  height: 150px;
  width: 155px;
  border-radius: 100px;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0px;
  flex-direction: row;
  background-image: url('../assets/brickwall.png');
}

.search-item {
  margin: 10px;
  max-width: 30%;
  max-height: 30%;
  flex: 1 1 30%;
}

.search-item .card-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.carousel-slider {
  width: 700px;
  height: 300px;
}

.carousel .slide img {
  max-width: 40% ;
  max-height: 40%;
}

.play-list {
  border-radius: 60px;
  border: black;
  border-bottom-style: groove;
  width: 600px;
  height: 355px;
  /*max-height: 100%;
  max-width: 100%;*/
  margin: 20px
}

.decision-pic {
  max-width: 10%;
  max-height: 10%;
  border-radius: 60px;
}

.recommendation-card {
  max-width: 40%;
  max-height: 40%;
  margin: 10px;
  border-radius: 250px;
}

.recommendation-card-content {
  background-color: rgba(255, 255, 255, .7);
  padding: 5px;
  margin-top: 70px;
}

.recommendation-list {
  display: flex;
  flex-wrap: wrap;
}

.current-user-profile-container {
  display: flex;
  flex-flow: column;
}

.recommendataion-pic {
  border-radius: 250px;
}

.sign-up-form {
  margin: 50px;
}

.home-page-title {
  font-family: 'Bungee Shade', cursive;
  font-size: 120px;
  text-align: center;
  margin: 80px;
  color: purple;
}

.homepage {
  margin: 20px;
}
