.login {
  margin-top: 12%;
  margin-left: 25%;
  max-width: 40%;
  max-height: 100%;
  background-color: rgba(255, 255, 255, .5);
  padding: 50px;
  padding-bottom: 40px;
  font-family: 'Monton';
}

.login .form {
  padding-top: 20%;
  text-align: center;
}

.login h1 {
  font-family: 'Monoton';
  font-size: 80px;
}

.login input {
  margin: 10px;
  width: 100%;
}

.login-submit {
  margin-left: 10px;
}
