.nav-bar {
  font-size: 10px;
  font-family: 'Work Sans';
  font-weight: bold;
  color: #9b9b9b;
  padding-top: 15px;
}

.search-bar {
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 14px;
}

.search-bar .img   {
  text-align: center;
}

.footer {
  font-size: 10px;
}

.radio-band {
  margin-right: 10px;
}

.nav-bar img {
  height: 12vh;
  padding: 0px;
  margin-bottom: 15px;
}
